.checkbox-column {
	width: 20px;
}

.no-margin {
	margin: 0 !important;
}

.control-bar {
	margin-bottom: 10px;
}

.selected-row {
	background-color: #EDFCFF !important;
}

.btn-margin-right {
	margin-right: 5px;
}